.navbar{
    border-bottom: 1px solid #dadada;
    background-color: #fff;
}

.dropdown.pull-right{
    padding-top:0px;
}

#user-dropdown{
    padding:7px;
}

.navbar-right > li {
    padding-top:20px;
    color: #555;
}